.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  color: var(--main);
  border-radius: 100px;
  padding: 12px 18px;
  background-color: var(--gray-light);
}

.featureItem svg {
  width: 20px;
  height: 20px;
}
